.mainContainerForm {
  z-index: 10;
  inset: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1677ff1f;
  backdrop-filter: blur(10px);
  animation-fill-mode: both;
  animation-duration: 0.3s;
  animation-name: fadeInDown;
}
.container {
  padding: 80px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 36px;
  border-radius: 8px;
  background-color: var(--primary-black);
  box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 1);
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.form {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.name {
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  padding-left: 10px;
  border: none;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  border-radius: 8px;
  background: whitesmoke;
}
.name::placeholder {
  text-align: left;
  font-size: 22px;
}

.name:focus {
  border: none;
  outline: none;
}

.create {
  cursor: pointer;
  align-self: flex-end;
  height: 50px;
  width: 70px;
  display: inline-block;
  font-size: 24px;
  border: none;
  color: #ffffff;
  border-radius: 8px;
  background-color: var(--primary-blue);
}

.create:hover {
  background-color: #398afa;
}

.create:active {
  position: relative;
  top: 1px;
}

.close {
  cursor: pointer;
  padding: 7px;
  display: inline-block;
  font-size: 24px;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  background-color: #b80505;
}

.close:hover {
  background-color: #e22525;
}
