.name {
  box-sizing: border-box;
  width: 160px;
  height: 50px;
  padding-left: 10px;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  border-radius: 8px;
  background: whitesmoke;
}

.name::placeholder {
  text-align: left;
  font-weight: normal;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.25);
}

.name:hover {
  border: 1px solid var(--primary-blue);
  outline: none;
}

.name:focus {
  border: 1px solid var(--primary-blue);
  outline: none;
}
