main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  padding: 5px;
  border: 2px #fca311;
  border-style: dashed solid;
  border-radius: 10px;
}
section {
  width: 500px;
  height: 200px;
  border-radius: 10px;
  color: #202020;
  background-color: #fca311;
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  text-decoration: 2px underline #202020;
}
