.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  border-radius: 8px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: 0.1s all ease-in-out;
}

.container:hover {
  background-color: var(--secondary-black);
}

.container h4 {
  margin: 0;
  color: whitesmoke;
}

.editable {
  width: 100px;
}

.loading {
  margin: 0;
  margin-left: 20px;
  color: whitesmoke;
}

.description {
  gap: 10px;
  display: flex;
  align-items: center;
}

.delete {
  background-color: #b80505;
  color: whitesmoke;
  border: none;
}

.delete:hover {
  background-color: #e22525;
  transform: scale(1.1);
}

@media screen and (max-width: 600px) {
  .container {
    display: block;
    text-align: center;
  }
  .description {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
}
