.container {
  padding: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 5rem;
}

.createTable {
  cursor: pointer;
  width: 80px;
  justify-self: center;
  align-self: center;
  color: whitesmoke;
  font-size: 60px;
  border: none;
  border-radius: 8px;
  background-color: var(--primary-black);
  box-shadow: 0px 0px 40px -13px rgba(0, 0, 0, 1);
  transition: 0.1s all ease-in-out;
}

.createTable:hover {
  background-color: var(--secondary-green);
  transform: scale(1.3);
}
